{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller</title>
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
</head>
<body>
-
    <h1>Hola</h1>
    <hr>
    {% for i in objeto %}
        <li><a href="autor/{{i.id}}">{{i.nombre}}</a></li>
        <ul>
            {% for u in i.profesion.all %}
                <li>{{u.nombre}}</li>
            {% endfor %}
        </ul>
    {% endfor %}
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
