<!DOCTYPE html>
<html>
<head>
    <title>Lista de Médicos</title>
</head>
<body>
    <h1>Lista de Médicos</h1>
    <ul>
    {% for medico in medicos %}
        <li>Nombre: {{ medico.nombre_medico }}, Especialidad: {{ medico.especialidad }}</li>
        <form method="POST" action="{% url 'borrar_medico' medico.id %}">
            {% csrf_token %}
            <button type="submit">Eliminar</button>
        </form>
        <a href="{% url 'editar_medico' medico.id %}">Editar</a>
    {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>
